<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Distribution</th>
            <th>IP</th>
            <th>Updates</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['linux'] %}
        <tr>
            <td>{{hostvars[host].ansible_hostname}}</td>
            <td>{{hostvars[host].ansible_distribution}}</td>
            <td>{{hostvars[host].username}}</td>
            <td>{{ansible_facts.checkuser['username']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>